@import "../../../App.css";

.socialLinks .socialLinks {
  display: flex;
  justify-content: center;
}

.socialLinks .btn-linkedin {
  background-color: var(--linkedin);
  padding: 0px 5px;
  margin-right: 8px;
}

.socialLinks .btn-linkedin i {
  color: #ffffff;
  font-size: 20px;
}

.socialLinks .btn-github {
  background-color: var(--github);
  padding: 0px 5px;
}

.socialLinks .btn-github i {
  color: #ffffff;
  font-size: 20px;
}
